.article
  .info
    %h2
      = post.title          
    .meta
      Posted
      = time_ago_in_words(post.created_at)
      ago by
      = post.author_name
  .body
    = truncate(raw(post.body), 200)
    = link_to("Read more..", post_path(post))