.article
  .info
    %h2
      = @post.title          
    .meta
      Posted
      = time_ago_in_words(@post.created_at)
      ago by
      = @post.author_name
  .body
    = raw(@post.body)
  .comments                    
    %h3
      Comments
    = render :collection => @post.comments, :partial => "comments/comment"    
  = render :partial => "comments/form"