<!DOCTYPE html>
%html
  %head
    %title
      Blog                                        
    = stylesheet_link_tag "reset.css"
    = stylesheet_link_tag "application.css"
    = stylesheet_link_tag "typography.css"
    
    = javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"
    
    = javascript_include_tag 'rails'
    = javascript_include_tag 'application'
    %link{:rel => "alternate", :type => "application/rss+xml", :title => "RSS", :href => posts_path(:format => :rss) }    
    %meta{:name => 'csrf-token', :content => form_authenticity_token}
    %meta{:name => 'csrf-param', :content => 'authenticity_token'}  
  %body   
    #wrapper
      #header
        #board                       
          %h2
            =link_to "The epic roadtrip blog 2010", "/"          
        #location
          = current_location
      #side
        = render :partial => "shared/widgets/twitter"
        = render :partial => "shared/widgets/photos"
      #content
        = yield
    #clouds         
  #footer
    #surfer  
    #bird
    #left_bottom
    #credits
      Handcrafted by Michel de Graaf &copy; 2010
      
    